<div class="w-100">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button style="margin-right: 10px;">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button routerLink="/" style="font-size: 20px;">Guild Wars 2 Companion</button>
      <app-nav></app-nav>
      <span class="nav-spacer"></span>
      <app-login mat-button style="font-size: 14px; color: white" class="text-white"></app-login>
      <app-register mat-button></app-register>
      <button mat-button class="text-white">User Panel</button>
      <button mat-button class="text-white">Logout</button>
      <mat-icon>account_circle</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
